.compare-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align columns at the top */
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;
}

.column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align cards at the top */
    position: relative;
}

.player-card {
    width: 80%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Ensure proper stacking */
    margin-bottom: 20px; /* Add spacing between cards and page bottom */
}

.player-card h2 {
    margin-bottom: 20px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%; /* Ensure page height adjusts to content */
}

main {
    width: 100%;
    min-height: 100%; /* Allow main content to expand the page height */
}

.player-stats {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    text-align: center;
}


.search-container {
    margin-bottom: 20px;
    width: 40%;
}

.search-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.suggestions {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    margin: auto;
    text-align: left;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f0c040;
}



.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    width: 100%;
}

.compare-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.compare-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.compare-button:hover {
  background-color: #0056b3;
}

/* Two-column table style */
table {
    width: 100%;
    border-collapse: collapse;
    max-height: 100px !important;
}

th, td {
    padding: 2px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Set background color based on value (optional) */
td.percentile-value {
    background-color: #f8d7da;
    color: #721c24;
}
td.percentile-good {
    background-color: #d4edda;
    color: #155724;
}

.player-image-container {
    flex: 0 0 200px; /* Define a largura da div */
    margin-top: 10px;
    margin-left: 20px;

}

.player-image-container img {
    width: 200px; /* Define the width of the player image */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px; /* Optional: add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.player-image-container img:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}