.search-container {
  width: 40%;
}

.compare-button-container {
  height: 150px;
  border-left: 1px solid #808080;
  border-right: 1px solid;
  align-items: center;
  justify-content: center;
  display: flex;
}

.compare-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 150px;
}

.compare-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f0a500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compare-button:hover {
  background-color: #e08c00;
}

.player-container h2 {
  font-size: 16px;
  color: #555;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  border-color: #007bff;
}
.search-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.suggestions {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
  margin: auto;
  text-align: left;
  position: absolute;
  z-index: 9999999 !important;
}

.suggestions.reverse {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
  margin: auto;
  text-align: left;
  position: absolute;
  z-index: 9999999 !important;
}
.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0c040;
}

.compare-item {
  display: flex;
  width: 100%;
  gap: 25px;
  height: 150px;
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.player-image-container {
  flex: 0 0 15%;
  margin-top: 10px;
  display: none;
}

.player-image-container img {
  width: 130px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.player-image-container img:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}
.stats-container {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}
.player-stats {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.left .player-stats {
  border: 1px solid #ff794a;
}

.right .player-stats {
  border: 1px solid #384d81;
}

.player-stats p {
  margin: 0;
  background: #fff;
  border-radius: 3px;
}

.p1 {
  color: #ff794a !important;
}

.p2 {
  color: #384d81 !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin: 20px;
  flex: 1;
}

svg {
  overflow: visible;
}

#chartType {
  z-index: 99;
  display: flex;
  margin-left: auto;
  right: 0;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

#barChart {
  display: none;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  font-size: 12px;
}

.card {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  height: 65vh;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

.button-group button {
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #ddd;
}

.button-group button.active {
  background-color: #28a745;
  color: #fff;
}

#scatter-controls {
  display: none;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

#scatter-controls select {
  z-index: 99;
  display: flex;
  margin-left: auto;
  right: 0;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
