.container5 {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(100% - 10px);
  box-sizing: border-box;
}

.container5 > .top-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container5 > .top-row .chart-section {
  width: calc(50% - 10px);
}

.container5 > .bottom-row {
  display: flex;
  justify-content: center;
}

.container5 > .bottom-row .chart-section {
  width: calc(50% - 10px);
}

.chart-section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  width: calc(50% - 10px);
  padding: 10px;
}

.chart-section h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

#pie-stats {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center;
}

#position-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -15px;
}

.position-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 8px 0;
  transition: background-color 0.3s ease;
}

.position-button:hover {
  background-color: #f0f0f0;
}

.position-button input {
  margin-right: 10px;
  accent-color: #6aaa96;
}

.position-button span {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  color: #444;
}

#player-stats-chart,
#other-stats-chart,
#player-pie-chart {
  width: 100%;
  height: 100%;
}

#chartSelector {
  z-index: 99;
  margin-left: auto;
  margin-right: 20px;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  max-width: 200px;
}

svg {
  overflow: visible;
}
