.field { fill: #6c9f6d; }
.line { stroke: white; stroke-width: 2px; fill: #6c9f6d; }
.player { fill: lightgray; }  /* Cor para todos os jogadores */
.highlight { fill:#f0a500; } /* Cor para o jogador em destaque */
.text { fill: white; font-size: 12px; text-anchor: middle; }

.bar { cursor: pointer !important; }
.axis-labels { font-size: 14px; font-weight: bold; }
.title { text-anchor: middle; font-size: 18px; font-weight: bold; }


.tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    align-items: flex-start;
}

#radarChart {
    width: 33%; /* Adjust as needed */
    padding: 10px;
}

#table-container {
    width: 33%; /* Adjust as needed */
    padding: 10px;
}

#heatmap-container {
    width: 33%; /* Adjust as needed */
    padding: 10px;
}

/* Two-column table style */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Set background color based on value (optional) */
td.percentile-value {
    background-color: #f8d7da;
    color: #721c24;
}
td.percentile-good {
    background-color: #d4edda;
    color: #155724;
}

#field2 {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

#scale-container {
    padding: 30px;
}
