.field { fill: #6c9f6d; }
.line { stroke: white; stroke-width: 2px; fill: #6c9f6d; }
.player { fill: lightgray; }  /* Cor para todos os jogadores */
.highlight { fill:#f0a500; } /* Cor para o jogador em destaque */
.text { fill: white; font-size: 12px; text-anchor: middle; }

.bar { cursor: pointer !important; }
.axis-labels { font-size: 14px; font-weight: bold; }
.title { text-anchor: middle; font-size: 18px; font-weight: bold; }


.tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    margin-top: 20px;
    flex: 1;
}

#radarChart {
    width: 35%; /* Adjust as needed */
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

#table-container {
    width: 45%; /* Adjust as needed */
    margin-top: 20px;
    margin-left: 20px;  

}

#heatmap-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;

}
.selector-container {
    display: flex;
    justify-content: space-between; /* Space out the title and dropdown */
    align-items: center; /* Vertically center both elements */
    margin-bottom: 15px; /* Space between the selector and the field */
    width: 100%; /* Make sure it stretches across the container */
}

/* Title styling */
.heatmap-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: left; /* Align the title to the left */
    flex: 1; /* Allow the title to take up space to the left */
}

/* Dropdown styling */
.metric-dropdown {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    max-width: 180px; /* Limit the width of the dropdown */
    text-align: center;
}

#metric-selector {
    margin-top: 20px;   
}

/* Two-column table style */
table {
    width: 100%;
    border-collapse: collapse;
    max-height: 100px !important;
}

th, td {
    padding: 2px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Set background color based on value (optional) */
td.percentile-value {
    background-color: #f8d7da;
    color: #721c24;
}
td.percentile-good {
    background-color: #d4edda;
    color: #155724;
}

#field2 {
    border: 2px solid #333;
    margin-top: 10px;
    border-radius: 10px;
}

#indicative-scale {
    margin-top: 10px;
}

#modal {
z-index: 1000;
}

#modal-overlay {
z-index: 999;
}
