.player-info-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 20px;
    flex: 1 1 200px; /* Assegura que as divs cresçam ou encolham conforme necessário, com largura mínima de 200px */
}

.player-image-container {
    flex: 0 0 200px; /* Define a largura da div */
    margin-top: 10px;
    margin-left: 20px;

}

.player-image-container img {
    width: 200px; /* Define the width of the player image */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px; /* Optional: add rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.player-image-container img:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.player-details-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os conteúdos das divs no centro */
    text-align: left !important; /* Centraliza o texto */
    font-size: 18px;
    line-height: 1.6;
    margin: 10px 30px;
    flex: 1 1 200px; /* Assegura que as divs cresçam ou encolham conforme necessário, com largura mínima de 200px */
}


.player-details-container p {
    color: #333;;
}



hr {
    border: 0;
    border-top: 0.5px solid #ccc;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Back button styling */
.player-back-button {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.player-back-button:hover {
    background-color: #0056b3;
}

/* Player details section */
.player-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.player-info div {
    font-size: 18px;
    color: #555;
}

.player-info div span {
    font-weight: bold;
    color: #333;
}

/* player-details.css */
.player-container {
    margin: 20px;
}

.player-info {
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

.player-general, .player-info-section, .player-game-info, .player-offensive, .player-defensive {
    margin-bottom: 20px;
}

.player-content > div {
    margin: 5px 0;
}

/* Player tabs */
.player-tabs {
    display: flex;
    margin-bottom: 10px;
}

.player-tab-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.player-tab-button:hover {
    background-color: #e0e0e0;
}

.player-tab-button.active {
    background-color: #d0d0d0;
    font-weight: bold;
}

/* Player details section styling */
.player-details-section {
    display: none;
    margin-top: 20px;
}

/* Optional styling for larger screens */
@media (min-width: 768px) {
    .player-info {
        flex-direction: row;
        justify-content: space-between;
    }
}

