.content {
  width: 70vw;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;

}

.filters {
  width: 30vw;
  padding: 1rem;
  display: inline-block;
  border-left: 1px solid #8a8a8a;
  vertical-align: top;
  align-items: right ;
  justify-content: right;
  align-content: end;
  margin-left: auto;

}

  .players-table {
    width: 100%;
    border-collapse: collapse;
  }

  
  .players-table th, .players-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    align-items: center;     
    justify-content: space-between; 
    gap: 10px;
    width: 100%;     
    margin-top: 0.3rem;          
}

#pageInfo {
    margin-left: auto;         
    font-size: 0.8rem;
}


.pageInfo {

    text-align: center; 
    justify-items: center;
}

#prevButton,
#nextButton,
#infoButton {
    padding: 0.5rem 1rem; 
    background-color: #f0f0f0; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#prevButton:hover,
#nextButton:hover,
#infoButton:hover {
    background-color: #e0e0e0; 
}

  
  #infoButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.5); 
}
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .filter-search-container {
    position: relative;
    max-width: 400px; 
    margin: 1rem auto; 
}
.filter-comp-container {
  position: relative;
  max-width: 400px; 
  margin: 1rem auto; 
  padding: 0.5rem;
}
.filter-age-range {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-search-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tabs {
    display: flex; 
    margin-bottom: 10px; 
}

.tab-button {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.tab-button:hover {
    background-color: #e0e0e0; 
}

.tab-button.active {
    background-color: #d0d0d0; 
    font-weight: bold;
}


/* Slider */


.slider-container {
    margin-top: 20px;
    width: 70%;
}


#age {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
#goals {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
#assists {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
#competition-checkboxes {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#position-checkboxes {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#cards-checkboxes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-1 [type=checkbox].substituted {
  margin: 0;
  width: 0;
  height: 0;
  display: inline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-wrapper-1 [type=checkbox].substituted + label:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  height: 1.15em;
  width: 1.15em;
  margin-right: 0.6em;
  color: rgba(0, 0, 0, 0.275);
  border: solid 0.06em;
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
  border-radius: 0.2em;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
  background-size: 0;
  will-change: color, border, background, background-size, box-shadow;
  transform: translate3d(0, 0, 0);
  transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
}
.checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
  background-color: #f0f0f0;
}
.checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
  background-color: #f59930;
  background-size: 0.75em;
  color: rgba(0, 0, 0, 0.075);
}
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
  background-color: #f6931f;
  color: rgba(0, 0, 0, 0.275);
}
.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(223, 165, 5, 0.55), 0 0 0 5px rgba(209, 171, 2, 0.3);
}
.checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
.checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
  box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(223, 165, 5, 0.55), 0 0 0 5px rgba(209, 171, 2, 0.3);
}
.checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
  opacity: 0.5;
}

.checkbox-wrapper-1 [type=checkbox].substituted + label {
  -webkit-user-select: none;
  user-select: none;
}

.filters label {
  font-size: 1.1rem;
}

#clear-filters-button-container {
  text-align: center; 
  margin: 30px 0; 
}

#clear-filters-btn {
  background-color: #f6931f;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

#clear-filters-btn:hover {
  background-color: #ad5e03; 
}
